{{#section 'title'}}{{User.username}} — Shoppers{{/section}}

<div class="site-wrap">
</div>
<div class="container bootstrap snippet">
  {{#with User}}
  <div class="row">
    <div class="col-sm-10">
      <h1>My Orders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <div class="text-center">
        {{!-- <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        --}}
        <img src="images/user/{{username}}.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div>
      </hr><br>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="http://www.mirchu.net/mobiles/apple-iphone-6/" target="_blank">Apple iphone 6</a></td>
                <td>Waqas Hussain</td>
                <td>example@mirchu.net</td>
                <td>11/6/2014</td>
                <td>$899.00</td>
                <td><span class="label label-info">Processing</span></td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="http://www.mirchu.net/mobiles/lg-g3/" target="_blank">LG G3</a></td>
                <td>Basit Raza</td>
                <td>example@bugpluss.com</td>
                <td>10/6/2014</td>
                <td>$621.00</td>
                <td><span class="label label-success">Shipped</span></td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="http://www.mirchu.net/mobiles/samsung-galaxy-s5/" target="_blank">Samsung Galaxy S5</a></td>
                <td>Raza Ahmed</td>
                <td>example@therazz.net</td>
                <td>11/9/2013</td>
                <td>$640.00</td>
                <td><span class="label label-info">Processing</span></td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="http://www.mirchu.net/rook-bootstrap-app-landing-page/" target="_blank">Rook Landing Page</a></td>
                <td>Mirchu net</td>
                <td>example@mirchu.net</td>
                <td>11/6/2014</td>
                <td>$12.00</td>
                <td><span class="label label-primary">Completed</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/col-9-->
    </div>
  </div>
  {{/with}}
</div>